// Цвета проекта
$black: #000000;
$red: #ff4343;
$red_h: #e71414;
$work: rgba(255, 67, 67, 0.8);
$work_a: rgba(185, 12, 12, 0.8);
$white: #ffffff;
$gray: #6c7279;
$gray_team: #c6cbcd;
$border: 1px solid #babbc5;
